/*? Technical Styling Area  */
:root {
  --grid-columns: 16;
  --sketch-height-desktop: 500px;
  --sketch-width-desktop: 500px;
  --sketch-width-mobile-m: 320px;
  --sketch-height-mobile-m: 320px;
  --sketch-width-mobile-l: 380px;
  --sketch-height-mobile-l: 380px;
  --sketch-width-mobile-s: 280px;
  --sketch-height-mobile-s: 280px;
  --border-color: gray;
  --border-px: 1px;
}

@font-face {
  font-family: "groovenshine";
  src: url("assets/grooven-shine-webfont.woff2") format("woff2"),
    url("assets/grooven-shine-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
html,
body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: rgb(214, 209, 209);
  background: linear-gradient(
    90deg,
    rgba(214, 209, 209, 1) 0%,
    rgba(193, 193, 203, 1) 35%,
    rgba(181, 231, 241, 1) 100%
  );
}

h2 {
  margin: 0;
  padding: 0;
  font-family: "groovenshine";
  font-size: 2rem;
}

/*! Header Styling Area */

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}
/*! Content Styling Area  */
.content {
  margin-bottom: 6vh;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.menu-button {
  position: relative;
  top: 70px;
  height: 45px;
  width: 30px;
  font-size: 150%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 300ms all ease;
}

.menu-button.active > div {
  transition: 300ms all ease;

  transform: scaleY(1);
}
.menu-button.deactive > .sign {
  transition: 300ms all ease;

  transform: scaleY(-1);
}

.sign {
}

.menu-item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-desktop {
  margin-left: 50px;
  position: relative;
  border: black 1px solid;
  padding: 10px;
  border-radius: 20px 20px 0 0;
  width: 400px;
  height: 50px;
  transition: 300ms all cubic-bezier(0.075, 0.82, 0.165, 1);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  transform: translateY(90%);
}
.menu-desktop.active {
  border: none;
  -webkit-box-shadow: 0px 0px 58px 20px rgba(45, 255, 196, 0.93);
  -moz-box-shadow: 0px 0px 58px 20px rgba(45, 255, 196, 0.93);
  box-shadow: 0px 0px 58px 20px rgba(45, 255, 196, 0.93);
  opacity: 1;
  transform: translateY(20%);
}

.menu-desktop > button {
  height: 30px;
}
.menu-grid-selector {
  opacity: 1;
  transition: 100ms all ease;
}
.menu-grid-selector.active {
  opacity: 0;
}

.palette-pop-up {
  opacity: 0;
  z-index: -1;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(0%, -50%);
  height: 50%;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  transition: 100ms opacity ease, 200ms transform ease;
  border-radius: 0 30px 30px 0;
  padding: 2px;
  background: rgb(214, 209, 209);
  background: linear-gradient(
    90deg,
    rgba(214, 209, 209, 1) 0%,
    rgba(193, 193, 203, 1) 100%
  );
}
.palette-pop-up.active {
  opacity: 1;
  transform: translate(100%, -50%);
}

.palette-item {
  width: 35px;
  height: 35px;
  border: 1px solid black;
  border-radius: 100%;
}

.fa-fade {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background: rgb(0, 255, 179);
  background: linear-gradient(
    90deg,
    rgba(0, 255, 179, 1) 0%,
    rgba(0, 0, 255, 1) 43%,
    rgba(255, 0, 0, 1) 100%
  );
}

.sketch-area {
  background-color: white;
  border-radius: 3px;
  z-index: 1;
  border: 1px solid black;
  display: flex;
  flex-wrap: wrap;
  width: var(--sketch-width-desktop);
  height: var(--sketch-height-desktop);
}

.grid-item {
  z-index: 2;
  flex-basis: calc(var(--sketch-width-desktop) / var(--grid-columns));
  height: calc(var(--sketch-height-desktop) / var(--grid-columns));
  box-sizing: border-box;
  background-color: white;
  border: var(--border-px) solid var(--border-color);
}

/*TODO Modal Styling Area  */
.modal-dark {
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: 4;
  background-color: #333553;
  opacity: 0;
  transition: 0;
  display: none;
}

.modal-dark.active {
  opacity: 0.4;
  display: block;
}

.modal-grid-selector {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 160px;
  width: 250px;
  background-color: white;
  z-index: 6;
  position: absolute;
  top: 34%;
  left: 50%;
  transform: translate(-50%, -290%);
  opacity: 0;
  transition: 200ms all ease-out;
}

.modal-grid-selector.active {
  transform: translate(-50%, -31%);
  opacity: 1;
}

label[for="grid-number"] {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.hidden {
  display: none;
}

/*! Footer Styling Area (FIX) */

.footer {
  height: 6vh;
  position: absolute;
  bottom: 0;
  width: 100%;
  align-items: center;
  font-size: 1.3rem;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  justify-content: center;
  display: flex;
  background-color: gray;
}
a {
  text-decoration: none;
  color: #333553;
}
#footer-links {
  margin-right: 20px;
}
.shaking:hover {
  transform: scale(1.05);
  animation: shake 0.2s;

  animation-iteration-count: 3;
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

/* Responsive section/Media Query section */

.mobile-menu-button {
  display: none;
}

.mobile-menu-self {
  display: none;
}

@media only screen and (max-width: 1300px) {
  .palette-pop-up {
    width: 20vw;
  }
}

@media only screen and (max-width: 768px) {
  .mobile-menu-self {
    z-index: 5;
    display: block;
    position: absolute;
    width: 50vw;
    height: 100vh;
    top: 0;
    right: 0;
    background-color: rgb(250, 250, 250);
    opacity: 0.95;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    transform: translateX(100%);
    transition: 300ms all ease;
  }

  .mobile-menu-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .mobile-menu-self.active {
    transform: translateX(0);
  }
  .mobile-menu-close {
    position: absolute;
    font-size: 2rem;
    top: 1%;
    left: 1%;
  }

  .mobile-menu-title {
    font-size: 2rem;
    font-family: "groovenshine";
    margin-top: 10px;
    text-align: center;
  }

  .modal-grid-selector {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    opacity: 0;
    transform: translate(-50%, 250%);
    transition: 300ms all ease;
    z-index: 4;
  }

  .modal-grid-selector.active {
    display: block;
    position: absolute;
    opacity: 1;
    transform: translate(-50%, -50%);
  }
  .mobile-menu-button {
    display: block;
    position: absolute;
    font-size: 2rem;
    top: 1%;
    right: 3%;
  }
  .menu-desktop {
    display: none;
  }
  .menu-button {
    display: none;
  }
  .sketch-area {
    width: var(--sketch-width-mobile-l);
    height: var(--sketch-height-mobile-l);
  }

  .grid-item {
    flex-basis: calc(var(--sketch-width-mobile-l) / var(--grid-columns));
    height: calc(var(--sketch-height-mobile-l) / var(--grid-columns));
  }
  .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-bottom: 13vh;
  }
  .mobile-palette-pop-up {
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
  }

  .mobile-palette-item {
    width: 35px;
    height: 35px;
    border: 1px solid black;
    border-radius: 100%;
  }
}

@media only screen and (max-width: 500px) {
  .sketch-area {
    width: var(--sketch-width-mobile-m);
    height: var(--sketch-height-mobile-m);
  }

  .grid-item {
    flex-basis: calc(var(--sketch-width-mobile-m) / var(--grid-columns));
    height: calc(var(--sketch-height-mobile-m) / var(--grid-columns));
  }
}

@media only screen and (max-width: 360px) {
  .sketch-area {
    width: var(--sketch-width-mobile-s);
    height: var(--sketch-height-mobile-s);
  }

  .grid-item {
    flex-basis: calc(var(--sketch-width-mobile-s) / var(--grid-columns));
    height: calc(var(--sketch-height-mobile-s) / var(--grid-columns));
  }
}

@media only screen and (max-height: 720px) {
  .mobile-menu-button {
    display: block;
    position: absolute;
    font-size: 2rem;
    top: 1%;
    right: 3%;
  }
  .menu-desktop {
    display: none;
  }
  .menu-button {
    display: none;
  }
  .sketch-area {
    width: var(--sketch-width-mobile-l);
    height: var(--sketch-height-mobile-l);
  }

  .grid-item {
    flex-basis: calc(var(--sketch-width-mobile-l) / var(--grid-columns));
    height: calc(var(--sketch-height-mobile-l) / var(--grid-columns));
  }
  .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-bottom: 13vh;
  }
}
